/* Space out content a bit */
body {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h1 {
  color: #6b6b6b;
  font-size: 24px;
  font-weight: 300;
  color: #3b3f47;
  margin: 0 0 10px;
}

h2 {
  color: #6b6b6b;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.5px;
  margin: 0 0 10px;
}

h3 {
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.4px;
  line-height: 1.25;
  margin: 0 0 10px;
}

p {
  color: #6b6b6b;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.5px;
  line-height: 1.29;
  margin: 0 0 10px;
}

.view-more {
  color: #276cf2;
  float: right;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.movie {

  &-widget {
    border: 1px solid #bbb;
    margin: 0 auto;
    padding: 20px;
    width: 375px;
  }

  &-width {
    background-color: #f2f3f5;
    border-radius: 2.5px;
    height: 156px;
    margin-bottom: 10px;
  }

  &-info {
    display: inline-block;
    float: left;
    padding: 16px;
    width: 238px;
  }

  &-rating {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      background: url("/images/star.svg");
      background-size: cover;
      cursor: pointer;
      display: inline-block;
      height: 11.8px;
      margin-right: 2px;
      width: 12.4px;
    }
  }

  &-poster {
    background-color: #bd10e0;
    display: inline-block;
    height: 156px;
    width: 105px;

    img {
      width: 100%;
    }
  }

  &-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;

    li {
      background-color: #fff;
      border: 1px solid #979797;
      border-radius: 25px;
      cursor: pointer;
      display: inline-block;
      height: 6px;
      margin: 0 3px;
      text-indent: -9999px;
      width: 6px;

      &.active {
        background-color: #979797;
      }
    }
  }
}

.swipe {
  overflow: hidden;
  position: relative;
  visibility: hidden;

  &-wrap {
    overflow: hidden;
    position: relative;

    > div {
      float: left;
      position: relative;
      width:100%;
    }
  }
}
